<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product._id.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product._id.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product._id.price %></h2>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product._id._id %>" class="btn">Details</a>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1 style="text-align: center;">You are not eligible for any of the devices. Please contact your employer for more information.
            </h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>